:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --tertiary-color: #fb414e;
  --footer-background: #ff626d;

  --primary-text-color: #eeeeee;
  --secondary-text-color: #cecece;

  --default-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

  --default-transition: 150ms ease-in;
  --soft-transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-block: 24px;
  max-width: 1440px;
  place-self: center;
}
